html {
    width: 100%;
    height: 100%;
}
body {
    height: 100%;
    width: 100%;
    background-color: rgba(236, 212, 212, 0.925);
    margin: 0;
}

.circle {
    border-radius: 50%;
    position: absolute;
}